<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1>Commercial Units</h1>
  </div>
  <div class="col">
    <%= link_to 'New Commercial Unit', new_commercial_unit_path,class:"btn btn-primary right" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">Address</th>
      <th scope="col">Shops</th>
      <th scope="col">Sqmt</th>
      <th scope="col">Parking</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @commercial_units.each do |commercial_unit| %>
      <tr>
        <td><%= commercial_unit.owner %></td>
        <td><%= commercial_unit.address %></td>
        <td><%= commercial_unit.shops %></td>
        <td><%= commercial_unit.sqmt %></td>
        <td><%= commercial_unit.parking %></td>
        <td><%= commercial_unit.price %></td>
        <td>
          <% if current_user.user_buys.exists?(buyings:commercial_unit) %> 
            <%= link_to 'UnBuy', commercial_unit_unbuy_path(commercial_unit), class:"btn btn-primary" %>
          <% else %>
            <%= link_to 'Buy', commercial_unit_buy_path(commercial_unit), class:"btn btn-primary" %>
          <% end %>
          <%= link_to 'Show', commercial_unit, class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_commercial_unit_path(commercial_unit), class:"btn btn-primary" %>
          <%= link_to 'Destroy', commercial_unit, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
