<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
    <h1>Houses</h1>
  </div>
  <div class="col">
    <%= link_to 'New House', new_house_path,class:"btn btn-primary right" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Owner</th>
      <th scope="col">Address</th>
      <th scope="col">Rooms</th>
      <th scope="col">Sqmt</th>
      <th scope="col">Floors</th>
      <th scope="col">Air cond</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td scope="row"><%= house.id %></td>
        <td><%= house.owner %></td>
        <td><%= house.address %></td>
        <td><%= house.rooms %></td>
        <td><%= house.sqmt %></td>
        <td><%= house.floors %></td>
        <td><%= house.air_cond %></td>
        <td><%= house.price %></td>
        <td>
          <% if current_user.user_buys.exists?(buyings:house) %> 
            <%= link_to 'UnBuy', house_unbuy_path(house), class:"btn btn-primary" %>
          <% else %>
            <%= link_to 'Buy', house_buy_path(house), class:"btn btn-primary" %>
          <% end %>
          <%= link_to 'Show', house, class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_house_path(house),class:"btn btn-primary" %>
          <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
