<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h1>Complex Buildings</h1>
  </div>
  <div class="col">
    <%= link_to 'New Complex Building', new_complex_building_path,class:"btn btn-primary right" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Owner</th>
      <th scope="col">Address</th>
      <th scope="col">Units</th>
      <th scope="col">Sqmt</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @complex_buildings.each do |complex_building| %>
      <tr>
        <td><%= complex_building.owner %></td>
        <td><%= complex_building.address %></td>
        <td><%= complex_building.units %></td>
        <td><%= complex_building.sqmt %></td>
        <td><%= complex_building.price %></td>
        <td>
          <% if current_user.user_buys.exists?(buyings:complex_building) %> 
            <%= link_to 'UnBuy', complex_building_unbuy_path(complex_building), class:"btn btn-primary" %>
          <% else %>
            <%= link_to 'Buy', complex_building_buy_path(complex_building), class:"btn btn-primary" %>
          <% end %>
          <%= link_to 'Show', complex_building, class:"btn btn-primary" %>
          <%= link_to 'Edit', edit_complex_building_path(complex_building), class:"btn btn-primary" %>
          <%= link_to 'Destroy', complex_building, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
